<!DOCTYPE html>
<html lang="es">
   <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <section class="banner">
    <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
</section>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
                <div class="track">
                    <% products.forEach(product => { %>
                        <%- include('partials/product', { product }) %>
                    <% })%>
                    </div>
        </section>
        <section>
            <h3 class="oferta">Ofertas</h3>
                <div>
                    <% products.forEach(product => { %>
                        <%- include('partials/product', { product }) %>
                    <% })%>
                </div>
        </section>
    </main>
   <%- include('partials/footer') %>
</body>
</html>