<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
    </section>
    <main>
        <h3>Producto <%= product.id %></h3>
        <div>
            <h1><%=product.name%></h1>
            <h2>$ <%= product.price %></h2>
            <h2><%= product.descuento %></h2>
            <br>
            <img src="/images/<%= product.image %>" width="200" alt="Cafetera" class="product_img">
            <h4>Descripción:<br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, atque. </h4>
            <form action="/data/<%= product.id %>?_method=DELETE" method="post">
                <input type="submit" value="Eliminar">
            </form>
            <form action="/products/edit/<%= product.id %>" method="get">
                <input type="submit" value="Editar">
            </form>
        </div>
    </main>
</body>
</html>